<!DOCTYPE html>
<html>

<head>
    <title>Resultados da Contagem de Palavras-chave</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: rgb(125, 125, 139);
            color: white;
        }
    </style>
    <head>
        <title>Resultados</title>
</head>
<!DOCTYPE html>
<html>

<head>
    <title>Resultados</title>
</head>

<body>
    <h1>Contagem das Palavras-Chave</h1>

    <table>
        <!--
        <tr>
            <th>Transporte</th> cabelho
        </tr>
            -->
        {% for palavra, quantidade in resultados.items() %}
        {% if loop.index0 % 4 == 0 %}
        <tr>
            {% endif %}
            <td><h2>{{ palavra }}</h2> <br> <h1>{{ quantidade }}</h1></td>
            {% if (loop.index + 1) % 5 == 0 or loop.last %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <h2>Total de Palavras: {{ total_palavras }}</h2>
</body>

</html>