<!DOCTYPE html>
<html>

<head>
    <title>Consulta de Rastreamento Amplo</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <header>
        <h1>Consultar Objeto</h1>
        <h4 class="marca">dato®</h4>
    </header>

    <section class="paragrafo1">
        <h2>Layout planilha base:</h2>
        <p>✅ Cabeçalho e disposição das colunas devem ser idênticos.</p>
        <p>✅ Coluna "C" deve conter só informações válidas na Latam cargo.</p>
        <p>✅ Arquivo na extensão ".xlsx"</p>
        <figure>
            <img class="img1" src="/static/layout.jpg" alt="Layout Planilha Base">
        </figure>
    </section>

    <section class="paragrafo2">
        <figure>
            <img class="img2" src="/static/legenda.jpg" alt="Legenda">
        </figure>
    </section>

    <div class="central">
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="file">Selecione o arquivo Excel:</label>
            <input type="file" id="file" name="file" required>
            <br>
            <input type="submit" value="Iniciar Rastreamentos">
        </form>
    </div>

    <section class="pendentes">
        <h2>Pendentes:</h2>
        {% if pendentes %}
            <p>{{ pendentes }}</p>
        {% else %}
            <p>...</p>
        {% endif %}
    </section>

    <section class="dados-capturados">
        <h2>Dados Capturados:</h2>
        <p>AWB, STATUS, DATA_EVENTO</p>
        {% if capturas %}
            {% for captura in capturas %}
                <p>{{ captura }}</p>
            {% endfor %}
        {% else %}
            <p>Aguardando carregamento do arquivo ...</p>
        {% endif %}
    </section>

    <div class="table-container">
        <table>
            {{ tabela.to_html() | safe }}
        </table>
    </div>
</body>