<!DOCTYPE html>
<html>

<head>
    <title>Enviar mensagem para grupos do WhatsApp</title>
    <style>
        body {
            text-align: left;
        }

        form {
            display: inline-block;
        }

        .cxmensagem {
            color: rgb(12, 12, 54);
            width: 500%;
            height: 150px;
        }

        .btn-enviar {
            margin-top: 10px;
            height: 25px;
            color: white;
            background-color: rgb(22, 105, 57);

        }
    </style>
</head>

<body>
    <h1>Enviar mensagem para grupos do WhatsApp</h1>
    <form action="/send" method="post">
        <label for="message">Mensagem:</label><br>
        <textarea class='cxmensagem' id="message" name="message"></textarea><br><br>

        <input type="submit" value="Enviar" class="btn-enviar"><br><br>

        <label for="groups">Grupos:</label><br>
        <input type="checkbox" id="group1" name="groups" value="grupo1">
        <label for="group1">Grupo 1</label><br>

        <input type="checkbox" id="group2" name="groups" value="grupo2">
        <label for="group2">Grupo 2</label><br>

        <input type="checkbox" id="group3" name="groups" value="grupo3">
        <label for="group3">Grupo 3</label><br><br>
    </form>
</body>

</html>