<!DOCTYPE html>
<html>
<head>
    <title>Reservas</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateReservas() {
        $.get("/", function (data) {
            var reservas = data.reservas;
            var tableBody = '';
            var dates = {{ dates | tojson }}; // Recebe as datas do Python e converte para JavaScript

            for (var i = 0; i < dates.length; i++) {
                var date = dates[i];
                var reserva_info = reservas[date] || ''; // Verifica se a reserva existe

                tableBody += '<tr>';
                tableBody += '<td>' + date + '</td>';
                tableBody += '<td>' + reserva_info + '</td>';
                tableBody += '<td><button onclick="deleteReserva(\'' + date + '\')">Excluir</button></td>';
                tableBody += '</tr>';
            }
            $('#reservasTable tbody').html(tableBody);
        });
    }

    function deleteReserva(data_reserva) {
        $.post("/delete", {data_reserva: data_reserva}, function (data) {
            if (data.success) {
                updateReservas();

                setTimeout(function () {
                    window.location.reload(); // Reload the page after 1 second
                }, 1000);
            }
        });
    }

    $(document).ready(function () {
        updateReservas();

        $('#reservaForm').on('submit', function (event) {
            event.preventDefault();
            var data_reserva = $('#data_reserva').val();
            var reserva_info = $('#reserva_info').val();

            // Check if the selected date already exists in the table
            var dates = [];
            $('#reservasTable tbody tr').each(function () {
                dates.push($(this).find('td:first').text());
            });

            if (dates.includes(data_reserva)) {
                alert("A reserva para essa data já foi cadastrada!");
            } else {
                $.post("/", $(this).serialize(), function (data) {
                    if (data.success) {
                        updateReservas();
                        $('#data_reserva').val('');
                        $('#reserva_info').val('');

                        setTimeout(function () {
                            window.location.reload(); // Reload the page after 1 second
                        }, 1000);
                    }
                });
            }
        });
    });
</script>
<body>
    <h1>Reservas</h1>
    <form id="reservaForm" method="POST" action="/">
        <label for="data_reserva">Data da reserva:</label>
        <input type="date" id="data_reserva" name="data_reserva" required>
        <br>
        <label for="reserva_info">Informações da reserva:</label>
        <input type="text" id="reserva_info" name="reserva_info" required>
        <br>
        <input type="submit" value="Enviar">
    </form>
    <br>
    <h2>Reservas registradas:</h2>
    <table id="reservasTable">
        <tr>
            <th>Data da Reserva</th>
            <th>Informações</th>
            <th>Ação</th>
        </tr>
        {% for date, reserva_info in reservas.items() %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ reserva_info }}</td>
            <td>
                <button onclick="deleteReserva('{{ date }}')">Excluir</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
