<!DOCTYPE html>
<html>

<head>
    <title>Exemplo Flask</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            color: #31568a;
            border-bottom: 1px solid #2b4161;
        }
    </style>
</head>
<div>
    <a href='/'><button class="nova-consulta">Iniciar nova consulta</button></a>
</div>
<body>
    <h1>Tabela de resultados</h1>
    <table>
        <tbody>
            {{ table_html|safe }}
        </tbody>
    </table>

    
</body>