<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="15">
    <script>
        setTimeout(function() {
            location.reload();
        }, 15000);
    </script>
    <title>Resultados</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Expedição</title>
   
</head>

<body>
    <h1>Dash Expedição</h1>

    <form action="/" method="post">
        <label for="usuario">Usuário:<br></label><br>
        <input type="text" id="usuario" name="usuario"><br>
        <label for="senha">Senha:<br></label><br>
        <input type="password" id="senha" name="senha"><br>
        <button type="submit">Buscar pendentes</button><br>
    </form>

    <div class="grid-container">
        <div class="header">Transporte</div> <!--palavra-chave-->
        <div class="header">Quantidade</div>
        {% for palavra, quantidade in resultados.items() %}
        <div>{{Transporte }}</div>
        <div>{{ Quantidade }}</div>
        {% endfor %}
    </div>

    <p>Total Pendentes: {{ total_palavras }}</p>
</body>

</html>