body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    margin: 20px auto;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
}

.header {
    font-weight: bold;
}

.grid-container>div {
    background-color: #b24a4a;
    padding: 10px 0;
}

p {
    text-align: center;
    margin-top: 20px;
}
button {
    appearance: auto;
    font-style:italic;
    font-size: 15px;
    color: rgb(30, 121, 48);
    box-sizing: border-box;
    background-color: rgb(74, 144, 74);
    margin: 2em;
    padding: 8px 12px;
    border-width: 2px;
    border-color: green;
}
input {
    font-size: 30px;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 6px 50px;
    align-items: center;
    border-width: 2px;
}