<!DOCTYPE html>
<html>

<head>
    <title>Consulta de Rastreamento Amplo </title>
    <h3 class="marca">dato®</h3>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>Consulta de Rastreamento Amplo/Latam</h1>
    <h3>Layout planilha base:</h3>
    <p>cabeçalho e disposição das colunas devem ser idênticos</p>
    <p>arquivo na extenção ".xlsx"</p>
    <img src="layout.JPG" alt="Layout Planilha Base">
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="file">Selecione o arquivo Excel:</label>
        <input type="file" id="file" name="file" required>
        <br>
        <input type="submit" value="Escolha onde salvar o arquivo de de saida">
    </form>

    <script>
        function chooseSaveLocation() {
            const fileInput = document.getElementById('file');

            const link = document.createElement('a');
            link.href = 'data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,';
            link.download = 'resultado.xlsx';
            link.click();
        }
    </script>

</body>

</html>