table {
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    width:500px;
    background-color: rgb(217, 217, 217);

}

th,
td {
    text-align: left;
    padding: 10px;
    border-bottom: 3px solid #358a5b;
}

th {
    background-color: #567b30;
    color: white;
}

.replace {
    color: blue;

}