table {
    border-collapse: collapse;
    width: 400px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #13d023;
}

th {
    background-color: #74a641;
    color: white;
}