<!DOCTYPE html>
<html>

<head>
    <title>Exemplo Flask</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>

<body>
    <h1>Dados da tabela:</h1>
    <a href='index'</a>
    <table>
        <thead>
            <tr>
                <th>AWB</th>
                <th>Status</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {{ table_html|safe }}
        </tbody>
    </table>

    
</body>