<!DOCTYPE html>
<html>
<head>
    <title>Resultados da API</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        #total {
            text-align: center;
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Resultados da API</h1>
    <table id="tabela-resultados">
        <tr>
            <th>Chave</th>
            <th>Valor</th>
        </tr>
    </table>
    <div id="total"></div>

    <script>
        // Função para criar a tabela com 2 colunas (Chave e Valor na mesma célula)
        function criarTabela(resultados) {
            const tabelaResultados = document.getElementById("tabela-resultados");

            for (const chave in resultados) {const valor = resultados[chave];

                const linhaHTML = `
                    <tr>
                        <td>${chave}</td>
                        <td>${valor}</td>
                    </tr>
                `;

                tabelaResultados.innerHTML += linhaHTML;
            }
        }

        // Função para exibir o total de resultados
        function exibirTotal(total) {
            document.getElementById("total").innerHTML = `Total de resultados: ${total}`;
        }

        // Chamada à API utilizando o método fetch
        fetch('/api/resultados') // A rota '/api/resultados' é onde a API está disponível
            .then(response => response.json())
            .then(data => {
                // Extrai os resultados e o total da resposta da API
                const resultados = data.resultados;
                const totalPalavras = data.total_palavras;

                // Cria a tabela de resultados
                criarTabela(resultados);

                // Exibe o total de resultados
                exibirTotal(totalPalavras);
            })
            .catch(error => {
                console.error("Erro ao obter os resultados da API:", error);
            });
    </script>
</body>
</html>